<!DOCTYPE html>
<html lang="en">
<head style="font-size:20px; padding:5px;">
  <h1>
    <u>TinyApp</u>
  </h1>
</head>

<body style="font-size:20px; padding:50px;">
  <a href= http://localhost:8080/login>Login</a>
  <a href= http://localhost:8080/register>Register</a>
    <body>
      <form action="/register" method="POST" style="margin:50px;">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" placeholder="johndoe@gmail.ca" style="width: 300px"><br/>
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="password123" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
  