<!DOCTYPE html>
<html lang="en">
<head style="font-size:20px; padding:5px;">
    <h1>
        <u>TinyApp</u>
    </h1>
</head>

<body style="font-size:20px; padding:50px;">
        <a href= http://localhost:8080/login>Login</a>
        <a href= http://localhost:8080/register>Register</a>
    <form action="/login" method="POST" style="margin:50px;">
        <label for="username">Username:</label>
        <input id="username" type="text" name="username" placeholder="username" style="width: 100px">
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="password" style="width: 100px">
        <input type="submit" value="Sign In">
    </form>
</body>
